.header {
  padding-left: 0;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-collapsed {
  padding-left: 0;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: end;
}

.user-info {
  height: auto;
  display: flex;
  align-items: center;
}

.avatar {
  vertical-align: "middle";
  margin-right: 8px;
}
